*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/* __________utility classes_____________ */
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.container2{
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}
.lg-head{
    font-size: 3.5rem;
}
.md-head{
    font-size:2rem;
    margin-bottom: 0.5em;
}
.red{
    color: #e63946;
}
.grey{
    color: #555555;
}
.black{
    color: #333333;

}
.dark{
    background-color: #212529
}
.light{
    color: #f4f4f4;
}
.p-text{
    font-size:1.6rem;
}
.btn{
    display:inline-block;
    padding:0.5em;
    margin: 0.5em;
    text-transform: uppercase;
    border-radius:10em;
    font-weight: 700;

}
.main-btn{
    background-color:white;
    font-size: 1.6rem;
    text-decoration: none;
    letter-spacing:0.15em;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}
.main-btn:hover{
    background-color:transparent;
    border-color:#e63946;
}
.pr-btn{
    text-decoration: none;
    border:2px solid #e63946;
    border-radius:1.5em;
    color:#e63946;
    float: right;
}
.pr-btn:hover{
    background-color:#e63946;
    color:white;

}
/* _______________________________________ */
html{
    font-size: 62.5%;
}
body{
    font-family: Arial;
    line-height: 2.5em;
}
.head{
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) ,url("../img/12337.jpg");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    position: relative;
}
.navbar{
    padding: 1rem;
}

.logo{
    color: white;
    float: left;
    margin-top: 1rem;
}
ul{
    float:right;
    margin-top: 1rem;
}
.navbar::after{
    content: "";
    display: block;
    clear: both;
}
li{
    display:inline-block;
    list-style: none;
    margin-bottom: 0.5em;
    padding: 1rem;
    text-transform: capitalize;
}
.nav-links{
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    letter-spacing:0.15em;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}
.nav-links:hover{
    border-bottom: 0.16rem solid white;
    border-left: 0.16rem solid white;
}
h1,h2,h3{
    font: size 700px;
}
h1{
    margin-bottom: 2rem;;
}
.head-content{
    text-align: center;
    /* width: 500px;
    margin:15em auto; */
    text-transform: capitalize;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
/* ________________________________showcase____________--- */
.showcase{
    background-color: lightgray;
    padding:7rem;
}
.row{
    height: 300px;
    box-shadow: 5px 5px 20px rgba(128, 128, 128, 0.226);
}
.box1, .box2{
    margin-bottom: 5rem;
}
.car1, .text2{
    float:left;
    width:50%;
}
.car2, .text1{
    float:right;
    width: 50%;

}

.car1{
    background: url("../img/car2.jpg");
    height:100%;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    object-fit: cover;
}
.car2{
    
    background: url("../img/car1.jpg");
    height:100%;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    object-fit: cover;
}
.text1, .text2{
    padding: 3rem;
    height:100%;
    background-color: white;
    text-align: justify;
    line-height: normal;
}
p{
    font-size:1.6rem;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
/* /* ______________sec */
.show3{
    padding:7rem 0rem;
    height: 350px;
    background-image: linear-gradient( 110.3deg,  rgba(73,93,109,1) 4.3%, rgba(49,55,82,1) 96.7% );
} 
.box{
    height: 200px;
    text-align: center;
    padding: 3rem;
    height:100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.377);
    
}
.sec1{
    float:left;
    width: 33.33%;
    background-color: #2F3942;
}
.sec2{
    float:right;
    width: 33.33%;
    background-color:#2F3942;
}
.sec3{
    float:left;
    width: 33.33%;
    background-image: linear-gradient( 68.3deg,  rgba(245,177,97,1) 0.4%, rgba(236,54,110,1) 100.2% );
}
.feature::after{
    content: "";
    display: block;
    clear: both;
}
/* _______________footer____________________ */
.foot{
    background-color: #212529;
    text-align:center;
    padding:2rem;
}
.social{
    margin-left: 2rem;
}
/* _________________________about_____ */
.heading{
    margin-top: 4rem;
}
.line{
    display:inline-block;
}
.l1, .l2, .l3{
    float:left;
    width: 50%;
}
.l4, .l5, .l6{
    float:left;
    width: 50%;
}
.list .line::before{
    content: "\2713";
    color:#e63946;
    font-weight: bolder;
    padding:1rem;
}